.sidebar {
    flex: 1;
    border-right: 0.5px solid #ddd;
    min-height: 100vh;
    padding-top: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .logo {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #51873e;
    text-align: center;
    padding-top: 10px;
}

.hr {
    height: 0px;
    border: 0.5px solid #ddd;
}

.center {
    padding: 10px 0px 10px 5px;
}

.center .title {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    margin-bottom: 5px;
  }

.center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}


.center ul li:hover {
    background-color: #51873e;
}

.center ul li:hover .icon,  .center ul li:hover span{
    color: #fff;
}

.center ul li .icon {
    font-size: 18px;
    color: #51873e;
}

.center ul li span{
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

.sidebar .bottom{
    display: flex;
    align-items: center;
    margin: 10px;
}

.bottom   .colorOption{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
}

.bottom .colorOption:nth-child(1){
    background-color: whitesmoke;
}

.bottom .colorOption:nth-child(2){
    background-color: #333;
}

.bottom .colorOption:nth-child(3){
    background-color: darkblue;
}