.App {
  width: 100vw;
  height: 100vh;
  background: #faf9fb;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  width: 6px;
}

.App::-webkit-scrollbar-track{
  background: #7c817a;
}

.App::-webkit-scrollbar-thumb {
  background: #51873e;
}

/* Main Styles Section */
.main {
  width: 100%;
  height: auto;
  margin-top: 70px;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #faf9fb;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 70px;
}


