.itemCard {
    width: 160px;
    height: 180px;
    min-width: 160px;
    min-height: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin:10px 8px;
  }
  
  .itemCard .imgBox{
    width: 100px;
    height: 100px;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5px;
    top: 10px;
  }
  
  .itemCard .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .itemImg {
    position: absolute;
    top: 0;
    width: 60%;
  }
  
  .itemContent {
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    border-radius: 15px;
    padding: 10px;
    padding-top: 50px;
    width: 100%;
  }
  
  .itemContent .itemName {
    font-size: 12px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .itemContent .itemName:hover {
    color: #51873e;
  
  }
  
  .itemContent .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .itemContent .bottom .price {
    font-size: 16px;
  }
  
  .itemContent .bottom .price span {
    color: #51873e;
    font-size: 12px;
  }
  
  .itemContent .addtoCart {
    background: #51873e;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0px 0px 20px rgba(0,0,0,0.15);
    cursor: pointer;
  }
  
  .itemContent .addtoCart .MuiSvgIcon-root {
    color: #fff;
    font-size: 16px;
  }

  @media screen and (min-width: 650px) {
    .rowContainer {
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 950px) {
  
    .itemCard {
      width: 220px;
      height: 220px;
      min-width: 220px;
      min-height: 220px;
      margin-right: 22px;
    }
  
    .itemContent .itemName {
      font-size: 16px;
      margin-bottom: 30px;
    }
  
    .itemCard .imgBox {
      width: 120px;
      height: 120px;
    }
  }