.accountContainer {
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}

.my-account {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}