.info {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    margin-left: 100px;
}

.info .r-title {
    font-size: 20px;
    color: #51873e;
    letter-spacing: 1px;
    padding: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.info .account-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.account-content .row {
    margin-bottom: 100px;
}

.account-content .row .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.account-content .row .item label {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    letter-spacing:1px;
    width: 30%;
}

.account-content .row .item span {
    width: 65%;
    font-size: 16px;
    color: #333;
    letter-spacing:1px;
    margin-left: 5%;
}

.info .btn-update {
    padding: 10px;
    border: none;
    outline:none;
    margin: 10px;
    position: absolute;
    bottom: 20px;
    right: 200px;
    font-size: 16px;
    background: #51873e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.info .btn-update:hover {
    color:#ddd;
}
