.acc-info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 10px;
    margin-left: 2px;
    border-radius: 10px;
}
