.subMenuContainer, .viewAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .subMenuContainer h3 {
    font-size: 16px;
    font-weight: 600;
    color:#2a2b3c; 
  }

  
  
  @media screen and (min-width: 950px) {
   
    .rowContainer {
      margin-right: 30px;
    }
  
 
    
    .subMenuContainer h3 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing:0.5px;
    }
  
  }