.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 10px;
}

.homeContainer {
    flex: 6;
    margin-top: -7px;
    margin-right: 20px;
}

.list {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

.listContainer {
    flex: 6;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 10px;
    position: relative;
}

.listContainer .listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}



