.account-left {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-back {
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    border: none;
    outline: none;
    background: none;
    color: #51873e;
}

.l-avatar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.l-avatar .image {
    width: 70px;
    height: 70px;
    background: #333;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 10px rgb(0, 0, 0, 0.15)
}

.l-avatar .image img {
    width: 70%;
    height: 70%;
    object-fit:cover;
}

.l-avatar .fullname h3 {
    font-size: 20px;
    color: #51873e;
    letter-spacing:1px;
    padding: 20px 10px 10px 10px;
}

.l-menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4px;
}

.l-menu ul li {
    width: 100%;
    padding: 12px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    margin: 4px 0px;
}

.l-menu ul li:hover {
    background-color: #51873e;
    color: #fff;
}



.l-menu ul li a {
    color: #51873e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.l-menu ul li:hover a {
    color: #fff;
}

.l-menu ul li a .MuiSvgIcon-root {
    margin-right: 10px;
    font-size: 24px;
}

