.footer{
    width:100%;
    height: auto;
    background: #0e6a6a;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;   
    position: relative;
    bottom: 0;
    left: 0;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.subscribe-from {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.logo-icon {
    width: 80px;
    height: 80px;
}   

.logo-icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.subscribe-from h3 {
    margin: 20px 0px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
}

.form-content {
    max-width: 100%;
}

.form-group {
    width: auto;
    height: 50px;
    padding: 5px;
}

.form-control {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #51873e;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn-submit .btn {
    width: 100px;
    height: 40px;
    font-size: 14px;
    color: #51873e;
    background: #ddd;
    border: none;
    outline: none;
    padding: 4px 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.btn-submit .btn:hover {
    background: #51873e;
    color: #fff;
}

.right-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}

.info, .support, .follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.info .link, .support .link, .follow .link {
    font-size: 16px;
    color: #fff;
    font-weight: 500px;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 0.5px;
    margin: 4px 0px;
}

.info .link:hover, .support .link:hover, .follow .link:hover  {
    color: #51873e;
}

.copyright {
    width: 100%;
    height: auto;
    text-align: center;
}

.copyright strong {
    font-size: 16px;
    color: #fff;
}

.copyright p {
    color: #999;
    font-size: 16px;
}

@media (min-width: 950px) {
    .container {
        flex-direction: row;
    }

    .right-content {
        flex-direction: row;
        margin-left: 20px;
    }

    .info, .support, .follow {
        flex: 1;
        align-items: flex-start;
    }

    .info h3, .support h3, .follow h3 {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .bct-logo {
        width: 150px;
        height: 80px;
        margin-top: 10px;
    }

    .copyright {
        margin-top: 20px;
    }

    .copyright strong {
        font-size: 24px;
    }
    
    .copyright p {
        font-size: 20px;
    }
}   