.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    height: 70px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
  }
  
  .logo {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }

  .logoName {
    display: block;
    font-size: 24px;
    color: #fff;
    background: #51873e;
    border-radius: 10%;
    font-weight: 600;
    width: 180px;
    padding: 8px 4px;
    text-align: center;
  }
  
  .inputBox {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 8px 10px;
    width: 40%;
  }
  
  .inputBox .searchIcon {
    color: #000;
    font-size: 20px;
  }
  
  .inputBox input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #fff;
    color: #333;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .shoppingCart {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  
  .shoppingCart .cart {
    font-size: 40px;
    color: #373848;
    line-height: 40px;
  }
  
  .shoppingCart .cart_Content {
    width: 20px;
    height: 20px;
    background: #51873e;
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: -8px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shoppingCart .cart_Content p {
    font-weight: 500;
    color: #faf9fb;
    line-height: 20px;
  }
  
  .profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profileContainer .username {
    color: #51873e;
    font-size: 16px;
    font-weight: 500;
    line-height: 70px;
    margin-left: 8px;
  }

  
  .profileContainer .imgBox {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .profileContainer .imgBox .profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .loginUser a {
    color: #51873e;
    font-weight: 500;
    font-size: 16px;
  }