.related-dish {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.head-title {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 20px 0px;
}

.dish-list {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 100%;
}

.dish-list .item {
    width: 160px;
    height: auto;
    margin: 10px; 
}

.item .content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item .content .field-img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.content .field-img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.content h3 {
    text-align: center;
}

.content h3 a{
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #333;
}

.content .filed-price {
    color: #f00;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 10px 0px;
}

.content .filed-btn {
    width:100%;
    height: 30px;
    margin: 10px;
    text-align: center;
}

.content .filed-btn button {
    font-size: 14px;
    padding: 8px;
    background: #51873e;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.content .filed-btn button:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}


@media screen and (min-width: 950px) {
    .detail {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0px;
    }

    .field-back button {
        font-size: 22px;
        padding: 12px;
        border-radius:10px;
    }

    .field-img {
        width: 300px;
        height: 300px;
        margin-bottom: 0px;
        margin-right: 50px;
    }

    .field-name {
        font-size: 40px;
        letter-spacing: 1.5px;
    }

    .field-price {
        font-size: 30px;
        letter-spacing: 1px;
        margin: 14px 0px;
    }

    .quantity h3 {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
    }


    .inner .btn-minute, .inner .btn-plus {
        width: 50px;
        height: 30px;
        border-radius: 8px;
        font-size: 30px;
        line-height: 30px;
    }

    .inner input {
        width: 100px;
        font-size: 30px;
    }

    .field-content .btn {
        
        font-size: 30px;
        border-radius: 10px;
        height: 60px;
    }

    .dish-list .item {
        width: 315px;
        margin: 10px 24px;
    }

    .item .content .field-img {
        width: 100px;
        height: 100px;
        margin-left: 50px;
    }

    .content h3 a{ 
        font-size: 24px;
    }

    .content .filed-price {
        font-size: 24px;
    }

    .content .filed-btn button {
        font-size: 20px;
        padding: 12px;
        border-radius: 10px;
        
    }
}