.cartContainer {
    width: 100%;
    height: auto;
    margin-right: 80px;
}

.main-cart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0px;
}

.cart-content {
    width: 60%;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-content .header-cart {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.cart-content .header-cart .title {
    color: #51873e;
    font-size: 20px;
    letter-spacing:0.5px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-content .header-cart .btn-add-cart {
    color: #51873e;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.cart-content .cart {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
}

.cart-content .item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #333;
    padding: 20px;
}

.cart-content .item .image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.cart-content .item .image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.cart-content .item .name {
    width: 175px;
    height: 50px;
    padding: 0px 5px;
    padding-left: 10px;
}

.cart-content .item .name span, .item .quantity span{
    font-size: 16px;
    color: #333;
    letter-spacing:0.5px;
}

.cart-content .item .price span {
    font-size: 16px;
    color: #f00;
    letter-spacing:0.5px;
}

.cart-content .item .quantity {
    width: 20px;
    height: 50px;
    padding-top: 16px;
}

.cart-content .item .price {
    width: 80px;
    height: 50px;
    padding: 0px 5px;
    padding-top: 11px;
}

.cart-content .item .remove {
    width: 30px;
    height: 50px;
    padding: 5px 0px 0px 10px ;
    line-height: 50px;
}

.cart-content .item .remove .MuiSvgIcon-root{
    border: none;
    outline: none;
    background: none;
    color: #51873e;
    font-size: 30px;
    cursor: pointer;
}

.cart-content .cart .btn-pay {
    margin-top: 30px;
    width: 120px;
    height: 120px;
}

.cart-content .cart .btn-pay button {
    border: none;
    outline: none;
    background: #51873e;
    color: #fff;
    border-radius:6px;
    font-size: 18px;
    padding: 8px;
    transition: 0.5s;
    cursor: pointer;
}

/* .cart-content .cart .btn-pay button:hover {
    color: #ccc;
} */


@media (min-width: 950px) {

    .steps-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .steps-nav::before {
        content: "";
        height: 1px;
        background: #c4c4c4;
        position: absolute;
        z-index: 1;
        left: 232px;
        top: 12px;
        width: 32%;
    }

    .steps-nav::after {
        content: "";
        height: 1px;
        background: #c4c4c4;
        position: absolute;
        z-index: 1;
        right: 230px;
        top: 12px;
        width: 32%;
    }
    
    .steps-nav .step {
        flex: 1;
    }
    
    .step .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .step .inner .MuiSvgIcon-root {
        color: #c4c4c4;
    }

    .step .inner .MuiSvgIcon-root.active {
        color: #51873e;
    }

    .cart-content .title h3 {
        font-size: 34px;
        letter-spacing: 1px;
    }

    .cart-content .item {
        padding: 18px;
    }

    .cart-content .item .image {
        width: 50px;
        height: 50px;
    }

    .cart-content .item .name {
        width: 300px;
        margin: 0px 40px;
        padding: 5px;
    }

    .cart-content .item .name span, .item .quantity span {
        font-size: 18px;
    }

    .cart-content .item .quantity {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .cart-content .item .price {
        width: 160px;
        height: 50px;
        padding: 5px;
    }

    .cart-content .item .price span {
        font-size: 18px;
    }

    .cart-content .item .remove {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .cart-content .item .remove .MuiSvgIcon-root {
        font-size: 35px;
    }

    .cart-content .cart .btn-pay {
        width: 150px;
        height: 150px;
    }

    .cart-content .cart .btn-pay button {
        border-radius: 10px;
        font-size: 24px;
        padding: 10px;
    }

    .cart-right {
        width: 30%;
        border: 1px solid #51873e;
        border-radius: 4px;
    }

    .cart-right .top {
        width: 100%;
        height: 60px;
        background-color: #51873e;
    }

    .cart-right .top span {
        color: #fff;
        font-size: 18px;
    }

    .cart-right .btn-payment {
        width: 100%;
        height: 40px;
        border: 1px solid #51873e;
        background-color: #333;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

    /* .cart-right .btn-payment:hover {
        color: #999;
        background-color: #444;
    } */

    .cart-right .content {
        width: 100%;
        height: 200px;
    }

    .sub-total, .shipping-fee, .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sub-total .lbl, .shipping-fee .lbl, .total .lbl {
        font-size: 18px;
        color: #333;
        letter-spacing: 0.3px;
          padding: 10px;  
    }

    .sub-total .price, .shipping-fee .price, .total .price {
        font-size: 18px;
        color: #111;
        font-weight: 500;
        letter-spacing: 0.3px;
          padding: 10px;  
    }

    .total {
        border-top: 1px solid #999;
    }
}